.edit-post-body-form {
    display: none;
}

.cancel-edit-button {
    display: none;
}

.profile-link {
    text-decoration: none;
}

.profile-link:hover {
    text-decoration: underline;
}

.like-button {
    cursor: pointer;
}

.page-link {
    cursor: pointer;
}

span[data-bs-toggle="modal"] {
    cursor: pointer;
}

span[data-bs-toggle="modal"]:hover {
    text-decoration: underline;
}

.list-group-item>a {
    text-decoration: none;
}

.list-group-item>a:hover {
    text-decoration: underline;
}

.bi-hand-thumbs-up, .bi-hand-thumbs-up-fill {
    color: #0d6efd;
}