{% extends "network/layout.html" %}

{% block title %}Change Password{% endblock %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#id_old_password").classList.add("form-control", "mb-2")
            document.querySelector("#id_new_password1").classList.add("form-control", "mb-2")
            document.querySelector("#id_new_password2").classList.add("form-control", "mb-2")
        })
    </script>
{% endblock %}

{% block body %}
<div class="container" style="max-width: 512px;">
    <h1 class="mb-3">Change Password</h1>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'password_change' %}" method="post" class="mb-3">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Save">
    </form>

</div>
{% endblock %}