{% extends "network/layout.html "%}

{% block title %}Reset password{% endblock %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#id_email").classList.add("form-control", "mb-2")
        })
    </script>
{% endblock %}

{% block body %}
<div class="container" style="max-width: 512px;">
    <h1 class="fs-2">Reset password</h1>

    <form action="{% url 'password_reset' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Reset" class="btn btn-primary">
    </form>
</div>
{% endblock %}