{% extends "network/layout.html" %}

{% block title %}Create new password{% endblock %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#id_new_password1").classList.add("form-control", "mb-2");
            document.querySelector("#id_new_password2").classList.add("form-control", "mb-2");
        })
    </script>
{% endblock %}

{% block body %}
    <h1 class="fs-2">Create new password</h1>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
{% endblock %}